.overlay {
  /* visibility: hidden; */
  opacity: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  /* transition: opacity 500ms; */
  z-index: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  padding-top: 7px;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  max-width: 700px;
  position: relative;
  /* position: absolute; */
  /* transition: all 5s ease-in-out; */
}

.textField-containers {
  width: 98%;
  margin: 0 auto;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}

/* .textField-containers > #outlined-basic {
  margin-bottom: 15px;
} */




.edit-container-textF {
  margin-bottom: 15px;
}
.save-close-btn
{
    width: 70%;
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.save-close-btn > button
{
    /* display: none; */
    border-radius: 20px;
    padding: 7px 40px;
}
