@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap");

body::-webkit-scrollbar {
  display: none;
}

body {
  background: #f7f8fa;
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.user_container {
  display: flex;
  flex-direction: row;
  margin-right: 60px;
}
#logout-btn {
  padding-top: 5px;
}
#user_widget {
  margin-right: 10px;
}
