.code-editor-body
{
    margin-top: 55px;
    background: #f0fff0;
}
.items
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.editor
{
   margin-top: 30px;
}
.dropdown-items
{
    width: 720px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}
.language-selector
{
    width: auto;
    /* width: auto; */
}
.theme-selector
{
    margin-left: 30px;
    width: auto;
}
.font-selector
{
    margin-left: 30px;
    width: 100px;
}
.input-container
{
    margin-top: 25px;
    width: 700px;
}
.output-container
{
    margin-top: 40px;
    width: 700px;
    margin-bottom: 25px;
}
.btn-container
{
    display: flex;
    justify-content: flex-end;
    width: 700px;
    margin-top: 20px;
}