.main-profile
{
    margin-top: 57px;
    
}
.profile-container
{
    width: 80%;
    min-width: 920;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
}
.left-container-profile
{
    background: #ffffff;
    width: 247px;
    height: 570px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border: 1px solid blue; */
    border-radius: 3px;
    box-shadow: 0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2) ;
}
.right-container-profile
{
    width: 640px;
    margin-left: 10px;
    /* height: 600px; */
    /* background: #ffffff; */
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    /* border: 1px solid blue; */
    border-radius: 3px;
    /* box-shadow: 0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2) ; */
}
.right-section-1
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.solved-sec
{
    background: #ffffff;
    width: 49%;
    border-radius: 3px;
    box-shadow: 0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2) ;
}
.solved-sec-container
{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 4px auto;
}
.linear-progress-container
{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 170px;
    margin-bottom: 10px;
}
#easy-progress > *
{
    background-color: #00af9b;
}
#easy-progress
{
    background-color: #e0f4e7;
}
#medium-progress > *
{
    background-color: #ffb800;
}
#medium-progress
{
    background-color: #fff4d9;
}
#hard-progress > *
{
    background-color: #ef4743;
}
#hard-progress
{
    background-color: #fde4e3;
}
.community
{
    background: #ffffff;
    width: 49%;
    border-radius: 3px;
    box-shadow: 0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2) ;
}
.community-container
{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: 4px auto;
    justify-content: space-between;
    margin-top: 13px;
}
.community-sub-container
{
    width: 33%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;

}
.edit-container
{
    margin: 0 auto;
    margin-top: 20px;
    /* margin-left: 15px; */
}
.school-container
{
    /* border: 1px solid blue; */
    margin-top: 40px;
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    flex-direction: row;
}
.location-container
{
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    flex-direction: row;
}
.cal-heatmap
{
    width: 99.5%;
    margin: 0 auto;
    margin-top: 8px;
    box-shadow: 0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2) ;
    background: #ffffff;
    border-radius: 3px;
    height: 160px;

}
.solution-posts-container
{
    width: 99.5%;
    margin: 0 auto;
    margin-top: 8px;
    box-shadow: 0px 8px 17px 2px rgba(0,0,0,0.14) , 0px 3px 14px 2px rgba(0,0,0,0.12) , 0px 5px 5px -3px rgba(0,0,0,0.2) ;
    background: #ffffff;
    border-radius: 3px;
}
