.main-problem-description {
  /* border: 1px solid blue; */
  height: 580px;
  overflow: auto;
}

.main-problem-description::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow:inset 0 0 6px rgba(0,0,0,0.3) ;
	background-color: #F5F5F5;
}

.main-problem-description::-webkit-scrollbar
{
  height: 6px;
	width: 6px;
	background-color: #F5F5F5;
}

.main-problem-description::-webkit-scrollbar-thumb
{
	background-color: #555;
}

.problem-description {
    padding: 10px;
}
