.sub-table {
  width: 99%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  border: 1px solid grey;
}
.sub-table > div {
  width: 33%;
  border-left: 1px solid grey;
  padding-left: 50px;
  /* padding-right: 90px; */
  font-weight: 500;
  font-size: 13px;
  padding-top:10px;
  padding-bottom: 10px;
  /* background: white; */
}
